.video-react {
  .video-react-playback-rate {
    .video-react-playback-rate-value {
      font-size: 14px;
      line-height: 34px;
      text-align: center;
    }

    .video-react-menu {
      width: 4em;
      left: 0em;
    }
  }

  .PlayRateButton {
    @extend .video-react-icon-right-mark;
  }

  .video-react-rate-menu {
    display: none;
    .title {
      padding: 8px 0;
      border-bottom: 1px #fff solid;
      margin-bottom: 2px;
      margin-left: 8px;
      margin-right: 8px;
    }
    .video-react-menu {
      margin-bottom: 18px;

      .video-react-menu-content {
        padding: 5px 10px;
        overflow: visible;
        width: 136px;
        height: auto;
        left: 44px;
        bottom: -33px;

        .video-react-selected {
          &:after {
            position: absolute;
            right: 17px;
            color: $kdan-primary-color;
            @extend .video-react-icon-check-mark;
          }
        }
      }
    }
  }

  .video-react-rate-menu-active {
    display: block;
  }
}
