.video-react {
  .video-react-setting-button {
    @include flex(none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;

    @extend .video-react-icon-setting;
  }

  .video-react-menu .video-react-menu-content {
    overflow: visible;
  }
  
  .video-react-setting-button:hover>.video-react-menu,
  .video-react-setting-button:focus>.video-react-menu,
  .video-react-setting-active>.video-react-menu,
  .video-react-lock-showing>.video-react-menu {
    display: block;
  }

  .video-react-setting-button:hover .video-react-menu-content,
  .video-react-setting-button:focus .video-react-menu-content,
  .video-react-setting-active .video-react-menu-content,
  .video-react-lock-showing .video-react-menu-content {
    height: 100px;
    width: 180px;
    right: 0px;
    bottom: 22px;
    border-radius: 3px;
  }

  .item-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 34px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 300;

    span {
      text-align: left;
    }
  }

  .hidden {
    opacity: .5;
  }
}