.video-react {

  .video-react-time-control {
    @include flex(none);
    font-size: 12px;
    font-weight: 300;
    line-height: 35px;
    min-width: 26px;
    width: auto;
    padding-left: 12px;
    padding-right: 12px;
  }

  .video-react-time-divider {
    line-height: 3em;
    min-width: initial;
    padding: 0;
  }
}
